RewriteEngine On    # Turn on the rewriting engine

# Denne filen gjør URL'en mer lesbar
# Kodelinjen under er kun et eksempel. Den må skrives en slik linje for hver URL som kan kalles.
RewriteRule ^api/([0-9a-zA-Z_-]*)$ api.php?order_id=$1 [NC,L]